a:-webkit-any-link {
    color: black;
    cursor: pointer;
    text-decoration: none;
}

ul { list-style: none; }

table {
    border-collapse: collapse;
    text-indent: length 0px;
    border-spacing: 0px;
}

h1, h2, h3, h4, h5, h6{margin: 0}

body {
    background: #fff;
	position: center;
	margin: 0;
}
/* H1 */
.h1 {
    font-family: 'Libre Baskerville';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 64px;
    color: #000000;
    text-align: center;
}


.text {
font-family: 'Libre Baskerville';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 64px;
/* identical to box height, or 133% */
color: #000000;
}
.text2 {
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 29px;
/* or 181% */
color: #565656;
}
.text3 {
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 44px;
color: #FFFFFF;
}

.text4 {
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
color: #FFFFFF;
}


.text5 {
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 44px;
color: #000000;
}


.main {
font-family: 'Poppins';
font-style: Medium 500;
font-weight: 400;
font-size: 16px;
line-height: 29px;
/* identical to box height, or 181% */
color: #000000;
margin: 0 10px;	
}
.main:hover {
font-family: 'Poppins';
font-style: bold;
font-weight: 400;
font-size: 16px;
line-height: 29px;
/* identical to box height, or 181% */
color: #828282;
margin: 0 10px;	
}



.rectange{
position: center ;
width: 100%	;
max-width: 1440px;
height: 83px;
left: 0px;
top: 0px;
background: image("images/fon-menu.jpg");

margin: 0 auto;	
}
.rectange2{

	position: center ;
width: 100%	;
max-width: 1440px;
height: 83px;    
margin: 0 auto;	
margin-top: 50px;
margin-bottom: 40px;
	
}
.rectange3{
position: center ;
width: 100%	;
max-width: 1440px;
height: 83px;
left: 0px;
top: 0px;
margin: 0 auto;	
}

.rectange33{
position: center ;
width: 100%	;
max-width: 465px;
height: 83px;
left: 10px;
padding-left: 60px;
top: 0px;
margin: 0 auto;	
}
.rectange4{
height: 304px;
left: 152px;
top: 826px;	
position: center ;
width: 100%	;
max-width: 1140px;
margin: 0 auto;		
left: 0%;
right: 0.87%;
top: 7.32%;
bottom: 7.04%;
background: #2D415E;
border-radius: 20px;	
}

.rectange4fon{

position: center ;
width: 100%	;
max-width: 1440px;
margin: 0 auto;		

	
}
.rectange5 {
	
margin: 20px;
margin-bottom: 40px;
}


.rectange6{
position: center ;
width: 100%	;
max-width: 1440px;
height: 83px;
left: 0px;
top: 0px;
margin: 0 auto;	
}

.rectange7 {
position: center ;
width: 100%	;
max-width: 1140px;
margin: 0 auto;		
left: 0%;
right: 0.87%;
top: 7.32%;
bottom: 7.04%;
	
Width: 884px;
Height: 510px;
Left: 2px;
background: #F8F8F8;

border-radius: 26px 20px 20px 26px;
}

.rectange8 {
position: center ;
width: 100%	;
max-width: 1140px;
margin: 0 auto;		
left: 0%;
right: 0.87%;
top: 7.32%;
bottom: 7.04%;
	
Width: 884px;
Height: 510px;
Left: 2px;
background: #F8F8F8;
background : url("images/fon-form.jpg") no-repeat left;	
border-radius: 26px 20px 20px 26px;
}

.fonpic{
position: center ;
width: 100%	;	
max-width: 1440px;
height: 675px;	
background: url("images/Ho.jpg") no-repeat right;
margin: 0 auto;		
}

.fonpic2{
position: center ;
width: 100%	;	
max-width: 1440px;
height: 525px;	
background: url("images/pipl.jpg") no-repeat right;
background: #F8F8F8;
margin: 0 auto;		
}

.fonpic3{
position: center ;
width: 100%	;	
max-width: 1440px;
height: 525px;	
background: url("images/pip2l.jpg") no-repeat left;
background: #FFFFFF;
margin: 0 auto;		
}


.buttons {
position: left;
width: 450px;
height: 62px;
left: 165px;
top: 458px;	
margin-bottom: 30px;	
}

.buttons22 {
display: inline-block;
width: 450px;
height: 62px;
left: 165px;
top: 458px;	
margin-bottom: 30px;	
}
.download {
display: inline-block;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 17px 43px 20px;
background: #FFCC2A;
font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 25px;	
border-radius: 31px;
transition-duration: 0.4s;	
}

.download:hover {
    background-color: #2869FF;
    color: white;
}

.download2 {
position: inline-block;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;
padding: 17px 43px 20px;	
background: #FFFFFF;
	font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 25px;
border: 1px solid #2D415E;
box-sizing: border-box;
border-radius: 31px;
transition-duration: 0.4s;	
}

.download2:hover {
    background-color: #2869FF;
    color: white;
}

.group {
	
width: 69px;
height: 100px;
margin: 30px;
margin-top: 120px;
margin-left: 150px;
left: 245px;
top: 64px;
display: inline-block;	
}
.groupmidle {
width: 172px;
height: 100px;
left: 251px;
top: 125px;	
margin: 30px;	
display: inline-block;
	
}

.grouptr {
width: 184px;
height: 104px;
left: 465px;
top: 125px;
	margin: 30px;
display: inline-block;

}


.group2 {
 top: 0px;
  right: 0px;
}


.group33 {
  left: 0;
	
}


.group33m {
position: absolute;	
left: 150px;
top: 180px;
}
.t14t {
	position: inline-block;
font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 22px;
color: #FFFAEC;
}

.t14tbig {
font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 60px;
line-height: 82px;
color: #FFCD00;
}

.group334 {
 width: 469px;
margin: 10px;
	margin-bottom: 40px;
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 29px;
color: #545454;
}

.group3344 {
margin-left: 40px;
margin-top: 40px;
margin-bottom: 20px;
top: calc(50% - 44px/2 - 57.5px);
}


.group3347 {
margin-left: 50px;
margin-top: 10px;
top: calc(50% - 44px/2 - 57.5px);
}

.group3345 {
 position: inline-block;
left: 58.06%;
right: 9.1%;
top: 32.79%;
bottom: 37.35%;
	margin-bottom: 40px;
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 29px;
color: #545454;
}

.column {
    float: left;
}

.left {
    width: 50%;
}

.right {
    width: 50%;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}


input[type=text], select, textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 1px #2C2C2C solid;
	 background-color: #F8F8F8;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
	
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
color: #545454;
}

input[type=submit] {
    
flex-direction: row;
justify-content: center;
align-items: center;
padding: 17px 53px 20px;
background: #FFCC2A;
	
font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 25px;	
border-radius: 31px;
transition-duration: 0.4s;
 border: none;  
cursor: pointer;
	
}

input[type=submit]:hover {
    background-color: #2869FF;
    color: white;
}

.container {
    border-radius: 5px;
    background-color: #F8F8F8;
    padding: 10px;
}


.carousel-wrapper{
  height:400px;
  position:relative;
  width:800px;
  margin:0 auto;
}
.carousel-item{
    position: absolute;
    top: -2px;
    bottom: 0;
    left: 1px;
    right: 0;
    padding: 25px 120px;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.arrow{
  border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 12px;
}

.arrow-prev{
  left:-30px;
  position:absolute;
  top:50%;
  transform:translateY(-50%) rotate(135deg);
}
 
.arrow-next{
    right:-30px;
  position:absolute;
  top:50%;
  transform:translateY(-50%) rotate(-45deg);
  }

.light{
  color:white;
}

@media (max-width: 480px) {
      .arrow, .light .arrow {
        background-size: 10px;
        background-position: 10px 50%;
      }
    }
}

/*Select every element*/
[id^="item"] {
    display: none;
  }

.item-1 {
    z-index: 2;
    opacity: 1;
  background:url('');
  background-size:cover;
  }
.item-2{
  background:url('');
   background-size:cover;
}
.item-3{
  background:url('');
   background-size:cover;
}

*:target ~ .item-1 {
    opacity: 0;
  }

#item-1:target ~ .item-1 {
    opacity: 1;
  }

#item-2:target ~ .item-2, #item-3:target ~ .item-3 {
    z-index: 3;
    opacity: 1;
  }
}

/*footer */
.foot{
position: center ;
width: 100%	;	
background: #F8F8F8;
margin: 0 auto;	

}
.conte {
	position: center ;
width: 100%	;	
max-width: 1440px;
margin: 0 auto;	
margin-top: 180px;
background: #F8F8F8;
}
.foot-iner{
	display: flex;
	padding-top: 40px;
	padding-bottom: 20px;
}
.foot-col1{
width: 20%;	
}
.foot-col2{
width: 101px;	
margin-left: 90px;	
}
.foot-col3{
width: 235px;
	margin-left: 70px;	
}
.foot-col4{
width: 177px;
margin-left: 50px;		
}
.foot-col5{
width: 110px;
margin-left: 50px;	
}
.foot-zag{
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 50px;

color: #2C2C2C;
}

.foot-link{
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 30px;
color: #2C2C2C;	
cursor: pointer;	
}
.foot-link:hover {

color: #ECB1B2;	
}

.copyriht{
position: center;
	width: 100%	;
max-width: 1440px;
padding: 20px 0;	
border-top: 1px solid #D0D0D0;	
background: #F8F8F8;	
text-align: center;	
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
color: #2C2C2C;
margin: 0 auto;	
}


input[type=search] {
    width: 25px;
    box-sizing: border-box;
    border: 0px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('images/search icon.png');
    background-position: 10px 15px; 
    background-repeat: no-repeat;
    padding: 10px 29px 12px 40px;
    font-family: 'Open Sans';
    transition: width 0.4s ease-in-out;
	cursor: pointer;
}

input[type=search]:focus {
    width: 50%;
	border: 0;
	cursor: pointer;
}

.header {
position: center ;
width: 100%	;	
margin: 0 auto;	
	
}
.container-header {
position: center ;
width: 100%	;	
max-width: 1440px;
margin: 0 auto;	
background: #FFFFFF;
border-bottom: 1px solid #D0D0D0;	
}

.header-inner {
display: flex;
		
}

.logo-top {
display: flex;
width: 30%;	
align-items: center;
justify-content: center;	
		
}

.navi {
width: 50%;	
font-family: 'Poppins';
font-style: Medium 500;
font-weight: 400;
font-size: 16px;
line-height: 29px;
color: #000000;
margin: 0 10px;	
	justify-content: center;
}

.navi:hover {
font-family: 'Poppins';
font-style: bold;
font-weight: 400;
font-size: 16px;
line-height: 29px;
/* identical to box height, or 181% */
color: #575757;
margin: 0 10px;	
}
.navi-right {
width: 20%;	
	font-family: 'Poppins';
font-style: Medium 500;
font-weight: 400;
font-size: 16px;
line-height: 29px;
color: #000000;
margin-top: 10px;	

}

.text-blok1 {
position: absolute;
left: 11.46%;
right: 52.15%;
top: 42.37%;
bottom: 40.44%;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 29px;
color: #565656;	
}

.blok1h1 {
position: absolute;
height: 148px;
left: 11.46%;
right: 49.65%;
top: calc(50% - 148px/2 - 149.5px);
font-family: 'Georgia';
font-style: normal;
font-weight: 400;
font-size: 60px;
line-height: 74px;
color: #2C2C2C;	
}

.blok1-iner {
display: flex;
		
}

.container-blok1 {
position: center ;
width: 100%	;	
max-width: 1440px;
margin: 0 auto;	
background: url("images/Ho.jpg") no-repeat right;
background: #F8F8F8;	
}

.blok1 {
position: center ;
width: 100%	;	
background: #F8F8F8;
margin: 0 auto;	
}

.buttons-blok1 {
position: absolute;
left: 11.46%;
right: 52.15%;
top: 55.37%;
bottom: 40.44%;	
}


